.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    margin: 0 10%;
}

.cabecalho__botao {
    color: var(--azul);
    border: 1px solid var(--azul);
    background-color: #fff;
    padding: 16px;
    width: 182px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

.cabecalho__logo {
    display: inline-block;
    background-image: url(../img/Logo.png);
    background-size: cover;
    width: 176px;
    height: 50px;
}

.cabecalho__pesquisa {
    display: flex;
    color: var(--cinza);
    gap: 8px;
    border-radius: 20px;
    background-color: var(--cinza-claro);
    padding: 8px 16px;
    width: 400px;
}

.cabecalho__pesquisa__botao {
    background: transparent url(../img/icone_pesquisa.svg) no-repeat center;
    cursor: pointer;
    width: 24px;
}

.cabecalho__pesquisa__input {
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    width: 100%;
    padding: .5rem 1rem;
}

.cabecalho__wrapper--direita {
    display: flex;
    gap: 32px;
}
