.formulario {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.formulario__titulo {
	font-weight: 700;
}

.formulario__campo {
	margin-top: 1rem;
	padding: 0.5rem 0.75rem;
	border-bottom: 1px solid #c8c8c8;
}
.formulario__campo label {
	color: var(--cinza);
	font-size: 0.75rem;
	display: block;
	margin-bottom: 4px;
}
.formulario__campo input {
	font-size: 16px;
}

.formulario__campo__texto,
.formulario__campo__texto::placeholder {
	color: #a2a2a2;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	resize: none;
	outline: none;
	border: none;
}
.formulario__campo__texto {
	width: 100%;
	border-bottom: 1px solid #c8c8c8;
	padding: 16px 12px;
}

.formulario__botao {
	color: #fff;
	background-color: var(--azul);
	display: block;
	padding: 16px;
	font-family: "Raleway", sans-serif;
	font-size: 1rem;
	margin-top: 8px;
	cursor: pointer;
}
